.button_cls {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 25px;
    font-size: 1em;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

    .button_cls:hover {
        background: #fff;
        color: #1AAB8A;
    }

    .button_cls:before, button:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: #1AAB8A;
        transition: 400ms ease all;
    }

    .button_cls:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
    }

    .button_cls:hover:before, button:hover:after {
        width: 100%;
        transition: 800ms ease all;
    }
