
@model Dictionary<string, string>

<button id="btnPrint">Generate PDF</button>

@{
    int count = 0;
}

<table id="dvContents" style="width: 1000px;">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            if (count % 2 == 0)
            {
                if (count != 0)
                {
                    @:</tr>
                }
                @:<tr>
            }

            <td style="width: 50%;">
                <img src="@item.Value" alt="QR Code for @item.Key" class="img-fluid" />
                <br />
                <p><strong>@item.Key</strong></p>
            </td>

            count++;
        }

        if (count % 2 != 0)
        {
            @:</tr>
        }
    }
</table>


 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<script type="text/javascript">
$(function () {
    $("#btnPrint").click(function () { 

       var divToPrint=document.getElementById("dvContents");
       newWin= window.open("");
       newWin.document.write(divToPrint.outerHTML);
       newWin.print();
       newWin.close();

    });
});
</script>
  


